# Private settings
home/.config/gcloud
home/.config/pgcli
home/.config/puppet/analytics.yml
home/.config/thefuck/__pycache__
home/.config/iterm2/AppSupport
home/.config/wireshark
home/.config/NuGet
Brewfile.lock.json
