Brewfile.lock.json

# Private settings
home/.config/argocd
home/.config/containers
home/.config/gcloud
home/.config/github-copilot
home/.config/iterm2/AppSupport
home/.config/NuGet
home/.config/op
home/.config/pgcli
home/.config/puppet/analytics.yml
home/.config/thefuck/__pycache__
home/.config/raycast
home/.config/wireshark
home/.config/wslu
home/.vim/.netrwhist
