{{- $name := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $editor := promptChoiceOnce . "editor" "What editor?" (list "vim" "neovim") "neovim" -}}
{{- $gpgkey := promptStringOnce . "gpgkey" "Custom GPG Signing Key" "none" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  editor = {{ if eq $editor "neovim" }}{{ "nvim" | quote }}{{ else }}{{ $editor | quote}}{{ end }}
{{- if ne $gpgkey "none" }}
  gpgkey = {{ $gpgkey | quote }}
{{- end }}
