##--Mac ignore--##

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Root volume files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AFP Share directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##--Windows ignore--##

# Thumbnail cache
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

##--Misc ignore--#

# Text editors
.vscode
